h1 {
    color: #e51212;
    font-size: 100px;
}

h2 {
    color: rgb(255, 255, 255);
}

body {
    color: blanchedalmond;
}

body {
    background-image: url(../CSS/B\ \(1\).png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 10px 10px;
    background-size: contain;
    padding: 0% 0% 10% 0%;
    width: auto;
    margin: auto;  
}